@page
@model MascotaFeliz.App.Presentacion.Pages.ListModel
@{
    ViewData["Title"] = "Listado Clientes";
}

<td>
    
  <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="Search" placeholder="Ingrese el cliente" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" asp-page="/Clientes/_BuscarCliente">Buscar</button>
  </form>
</nav>

</td>

<table class="table">
    
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var client in Model.Clientes)
            {
                <tr>
                    <th>@client.Id</th>
                    <th>@client.idPersona</th>
                    <td>@client.nombres</td>
                    <td>@client.apellidos</td>
                    <td>@client.telefono</td>
                    <td>@client.direccion</td>
                    <td><a class="btn btn-info" asp-page="../Clientes/Details" asp-route-idCliente="@client.idPersona">
                    <i class="fas fa-address-book fa-lg"></i>Detalle Cliente</a> 
                    </td>
                    <td><a class="btn btn-info" asp-page="../Clientes/Edit" asp-route-idCliente="@client.idPersona">
                    <i class="fas fa-address-book fa-lg"></i>Editar Cliente</a> 
                    </td>
                    <td><a class="btn btn-info" asp-page="../Clientes/Delete" asp-route-idCliente="@client.idPersona">
                    <i class="fas fa-address-book fa-lg"></i>Eliminar Cliente</a> 
                    </td>
                    
                </tr>    
                
            }
            
        <tr>
        </tbody>          
    
</table>



